# {{SERVICE_NAME}} Terraform Module

Terraform module which creates {{SERVICE_NAME}} resources.

[![SWUbanner](https://raw.githubusercontent.com/vshymanskyy/StandWithUkraine/main/banner2-direct.svg)](https://github.com/vshymanskyy/StandWithUkraine/blob/main/docs/README.md)

## Usage

```hcl
module "{{module_name}}" {
  source  = "terraform-{{provider}}-modules/{{module_name}}/{{provider}}"

  name = "my-{{service_name}}"

  # Add real usage example from the module's variables

  tags = {
    Environment = "dev"
    Terraform   = "true"
  }
}
```

## Features

<!-- Replace with actual module features from the coverage matrix -->

## Conditional Creation

The module supports conditional resource creation:

```hcl
module "{{module_name}}" {
  source = "terraform-{{provider}}-modules/{{module_name}}/{{provider}}"

  create = false
}
```

## Examples

- [Complete](https://github.com/terraform-{{provider}}-modules/terraform-{{provider}}-{{module_name}}/tree/master/examples/complete) - Comprehensive example with most features enabled
- [Basic](https://github.com/terraform-{{provider}}-modules/terraform-{{provider}}-{{module_name}}/tree/master/examples/basic) - Minimal working example

## Module Wrappers

For managing multiple similar resources, see [wrappers](https://github.com/terraform-{{provider}}-modules/terraform-{{provider}}-{{module_name}}/tree/master/wrappers).

<!-- BEGINNING OF PRE-COMMIT-TERRAFORM DOCS HOOK -->
<!-- terraform-docs will auto-populate this section -->
<!-- END OF PRE-COMMIT-TERRAFORM DOCS HOOK -->

## Authors

Module is maintained by [{{maintainer_name}}](https://github.com/{{maintainer_github}}) with help from [these awesome contributors](https://github.com/terraform-{{provider}}-modules/terraform-{{provider}}-{{module_name}}/graphs/contributors).

## License

Apache 2 Licensed. See [LICENSE](https://github.com/terraform-{{provider}}-modules/terraform-{{provider}}-{{module_name}}/tree/master/LICENSE) for full details.

## Additional information for users from Russia and Belarus

* Russia has [illegally annexed Crimea in 2014](https://en.wikipedia.org/wiki/Annexation_of_Crimea_by_the_Russian_Federation) and [brought the war in Donbas](https://en.wikipedia.org/wiki/War_in_Donbas) followed by [full-scale invasion of Ukraine in 2022](https://en.wikipedia.org/wiki/2022_Russian_invasion_of_Ukraine).
* Russia has brought sorrow and devastations to millions of Ukrainians, killed hundreds of innocent people, damaged thousands of buildings, and forced several million people to flee.
* [Putin khuylo!](https://en.wikipedia.org/wiki/Putin_khuylo!)
